In [3]:
import pandas as pd
df = pd.read_csv("raw_data/Tasks/equi_join.csv")
value_dict = df[df["Original"]=="YES"]["Modification_Method"].value_counts().to_dict()
keys1 = [key for key in value_dict.keys()]

df = pd.read_csv("raw_data/Tasks/equi_sdss.csv")
value_dict = df[df["Original"]=="YES"]["Modification_Method"].value_counts().to_dict()
keys2 = [key for key in value_dict.keys()]

df = pd.read_csv("raw_data/Tasks/equi_sqlshare.csv")
value_dict = df[df["Original"]=="YES"]["Modification_Method"].value_counts().to_dict()
keys3 = [key for key in value_dict.keys()]

total_keys = list(set(keys1 + keys2 + keys3))
total_keys

['Nested_Join',
 'Condition_EXISTs',
 'Reorder_Conditions ',
 'CTEs',
 'Swapping_Nestedness',
 'Join_Nested',
 'Condition_Nested',
 'Simplification',
 'Explicit_Implicit_Joins',
 'Join_Order',
 'Condition_IntersectUnion',
 'Operators',
 'Logical_Conditions',
 'Case_Statement',
 'Using Explicit JOINs',
 'Change_Alias']

In [4]:
len(total_keys)

16

In [5]:
import pandas as pd
value_dict = df[df["Original"]=="NO"]["Modification_Method"].value_counts().to_dict()
keys1 = [key for key in value_dict.keys()]

value_dict = df[df["Original"]=="NO"]["Modification_Method"].value_counts().to_dict()
keys2 = [key for key in value_dict.keys()]

value_dict = df[df["Original"]=="NO"]["Modification_Method"].value_counts().to_dict()
keys3 = [key for key in value_dict.keys()]

total_negative_keys = list(set(keys1 + keys2 + keys3))
total_negative_keys

['Change_Join_Condition',
 'Group_by_Criteria',
 'Adding_Removing_Select_Column',
 'Value_Change',
 'Change_Sorting_Limiting',
 'Aggregate_Function',
 'Operators',
 'Logical_Conditions',
 'Change_Table',
 'Order_by_Column',
 'Change_Data_Type',
 'Change_Alias']

In [6]:
len(total_negative_keys)

12

In [1]:
mapping_positive_dict = {
    'Condition_EXISTs': 'Subquery_Conditions',
    'Case_Statement': 'Case_Statement',
    'Simplification': 'Query_Simplification',
    'Explicit_Implicit_Joins': 'Join_Style',
    'Operators': 'Operators',
    'Reorder_Conditions': 'Condition_Arrangement',  # 注意：原始术语中的尾随空格已去除，以便一致性
    'Change_Alias': 'Alias_Change',
    'Using Explicit JOINs': 'Join_Style',
    'Condition_IntersectUnion': 'Set_Operations',
    'CTEs': 'CTEs',
    'Join_Order': 'Join_Structure',
    'Join_Nested': 'Join_Structure',
    'Nested_Join': 'Join_Structure',
    'Swapping_Nestedness': 'Join_Structure',
    'Condition_Nested': 'Subquery_Conditions',
    'Logical_Conditions': 'Condition_Arrangement'
}

"""
Subquery_Conditions：涵盖子查询相关的条件变换，包括存在性条件（EXISTS）和嵌套条件。
Case_Statement：专门处理CASE语句的使用和变换。
Query_Simplification：涉及查询的简化操作，如去除冗余条件或结构。
Join_Style：合并了显式JOIN与隐式JOIN（逗号连接）的风格变换。
Operators：保留操作符相关的变换，如比较操作符的改变。
Condition_Arrangement：涵盖条件的重新排列和逻辑条件的修改。
Alias_Change：专门处理表或列别名的改变。
Set_Operations：涉及集合操作（如INTERSECT、UNION）的使用。
CTEs：专门处理公共表表达式（CTE）的使用和变换。
Join_Structure：合并了连接结构的多种变换，包括连接顺序、嵌套连接和嵌套度交换。
"""

'\nSubquery_Conditions：涵盖子查询相关的条件变换，包括存在性条件（EXISTS）和嵌套条件。\nCase_Statement：专门处理CASE语句的使用和变换。\nQuery_Simplification：涉及查询的简化操作，如去除冗余条件或结构。\nJoin_Style：合并了显式JOIN与隐式JOIN（逗号连接）的风格变换。\nOperators：保留操作符相关的变换，如比较操作符的改变。\nCondition_Arrangement：涵盖条件的重新排列和逻辑条件的修改。\nAlias_Change：专门处理表或列别名的改变。\nSet_Operations：涉及集合操作（如INTERSECT、UNION）的使用。\nCTEs：专门处理公共表表达式（CTE）的使用和变换。\nJoin_Structure：合并了连接结构的多种变换，包括连接顺序、嵌套连接和嵌套度交换。\n'

In [2]:
mapping_negative_dict = {
    'Adding_Removing_Select_Column': 'Select_Clause_Modification',
    'Change_Data_Type': 'Data_Type_Change',
    'Operators': 'Operator_Change',
    'Aggregate_Function': 'Aggregate_GroupBy_Change',
    'Operator': 'Operator_Change',  # 合并到Operator_Change
    'Change_Alias': 'Select_Clause_Modification',
    'Order_by_Column': 'Sorting_Limiting_Change',
    'Change_Sorting_Limiting': 'Sorting_Limiting_Change',
    'Remove_Condition': 'Condition_Modification',
    'Group_by_Criteria': 'Aggregate_GroupBy_Change',
    'Use Aggregate_Function': 'Aggregate_GroupBy_Change',  # 合并到Aggregate_GroupBy_Change
    'Add_Remove_Distinct': 'Select_Clause_Modification',
    'Change_Table': 'Table_Join_Modification',
    'Change_Join_Condition': 'Table_Join_Modification',
    'Logical_Conditions': 'Condition_Modification',
    'Value_Change': 'Value_Change'
}

"""
映射说明：
Select_Clause_Modification：涵盖选择子句的修改，包括添加/移除列、改变别名、添加/移除DISTINCT等。
Data_Type_Change：专门处理数据类型的改变。
Operator_Change：合并了操作符相关的变换（如比较操作符、逻辑操作符）。
Aggregate_GroupBy_Change：合并了聚合函数和GROUP BY子句的修改。
Sorting_Limiting_Change：涵盖排序（ORDER BY）和限制（LIMIT）子句的修改。
Condition_Modification：涵盖WHERE条件子句的修改，包括移除条件、改变逻辑条件等。
Table_Join_Modification：涵盖表和连接条件的修改，如改变表名、连接条件等。
Value_Change：专门处理查询中字面值的改变。
"""

'\n映射说明：\nSelect_Clause_Modification：涵盖选择子句的修改，包括添加/移除列、改变别名、添加/移除DISTINCT等。\nData_Type_Change：专门处理数据类型的改变。\nOperator_Change：合并了操作符相关的变换（如比较操作符、逻辑操作符）。\nAggregate_GroupBy_Change：合并了聚合函数和GROUP BY子句的修改。\nSorting_Limiting_Change：涵盖排序（ORDER BY）和限制（LIMIT）子句的修改。\nCondition_Modification：涵盖WHERE条件子句的修改，包括移除条件、改变逻辑条件等。\nTable_Join_Modification：涵盖表和连接条件的修改，如改变表名、连接条件等。\nValue_Change：专门处理查询中字面值的改变。\n'

In [9]:
l1 = [key for key in mapping_negative_dict.keys()]
l1.extend([key for key in mapping_positive_dict.keys()])
print(len(l1))
s1 = set(l1)
len(s1)

32

29

In [11]:
import os
import pandas as pd
def map_modification_method(positive_mapping, negative_mapping, csv_path):
    """
    对CSV文件中的"Modification_Method"列进行映射

    参数:
    - positive_mapping: dict, 当Original=="YES"时使用的映射表
    - negative_mapping: dict, 当Original=="NO"时使用的映射表
    - csv_path: str, CSV文件路径
    """

    # 1. 读取CSV文件
    df = pd.read_csv(csv_path)

    # 2. 处理每一行的映射
    mapped_values = []
    for idx, row in df.iterrows():
        original_value = row.get("Original", "")
        mod_method = str(row.get("Modification_Method", "")).strip()

        # 根据Original的值选择映射表
        if original_value == "YES":
            mapping_table = positive_mapping
        elif original_value == "NO":
            mapping_table = negative_mapping
        else:
            # 如果Original不是YES或NO，保持原值
            mapped_values.append(mod_method)
            continue

        # 进行映射，如果找不到映射则保持原值
        mapped_value = mapping_table.get(mod_method, mod_method)
        mapped_values.append(mapped_value)

    # 3. 将映射后的值赋回DataFrame
    df["Modification_Method"] = mapped_values

    # 4. 生成新文件名（在原文件名后添加_mapping）
    dir_name = os.path.dirname(csv_path)
    file_name = os.path.basename(csv_path)
    name_without_ext, ext = os.path.splitext(file_name)
    new_file_name = f"{name_without_ext}_mapping{ext}"
    new_file_path = os.path.join(dir_name, new_file_name)

    # 5. 保存到新文件
    df.to_csv(new_file_path, index=False)

    print(f"映射完成！文件已保存到: {new_file_path}")
    return df, new_file_path

In [12]:
map_modification_method(mapping_positive_dict, mapping_negative_dict, "processed_data/equi_join.csv")

映射完成！文件已保存到: processed_data/equi_join_mapping.csv

(                                         SQL_Statement  \
 0    SELECT MIN(chn.name) AS uncredited_voiced_char...
 1    SELECT MIN(chn.name) AS character,\n       MIN...
 2    SELECT MIN(chn.name) AS character,\n       MIN...
 3    SELECT MIN(cn.name) AS from_company,\n       M...
 4    SELECT MIN(cn.name) AS from_company,\n       M...
 ..                                                 ...
 145  SELECT MIN(an.name) AS cool_actor_pseudonym,\n...
 146  SELECT MIN(an.name) AS cool_actor_pseudonym,\n...
 147  SELECT MIN(n.name) AS member_in_charnamed_amer...
 148  SELECT MIN(n.name) AS member_in_charnamed_movi...
 149  SELECT MIN(lt.link) AS link_type,\n       MIN(...

                                     Equivalent_Queries Equivalent or not  \
 0    SELECT MIN(chn.name) AS uncredited_voiced_char...        Equivalent
 1    WITH FilteredMovies AS (\n    SELECT \n       ...        Equivalent
 2    SELECT MIN(chn.name) AS character,\n       MIN...    Not Equivalent
 3    SELECT MIN(cn.name) AS from_company,\n       M...        Equivalent
 4    SELECT MIN(cn.name) AS from_company,\n       M...    Not Equivalent
 ..                                                 ...               ...
 145  WITH FilteredTitles AS (\n    SELECT t.id AS m...        Equivalent
 146  SELECT MIN(an.name) AS cool_actor_pseudonym,\n...    Not Equivalent
 147  SELECT MIN(n.name) AS member_in_charnamed_amer...        Equivalent
 148  SELECT MIN(n.name) AS member_in_charnamed_movi...        Equivalent
 149  SELECT MIN(lt.link) AS link_type,\n       MIN(...    Not Equivalent

           Modification_Method Original
 0                  Join_Style      YES
 1                        CTEs      YES
 2             Operator_Change       NO
 3                  Join_Style      YES
 4    Aggregate_GroupBy_Change       NO
 ..                        ...      ...
 145                      CTEs      YES
 146              Value_Change       NO
 147       Subquery_Conditions      YES
 148            Case_Statement      YES
 149              Value_Change       NO

 [150 rows x 5 columns],
 'processed_data/equi_join_mapping.csv')

In [15]:
map_modification_method(mapping_positive_dict, mapping_negative_dict, "processed_data/equi_sdss.csv")

映射完成！文件已保存到: processed_data/equi_sdss_mapping.csv

(                                         SQL_Statement  \
 0    SELECT DISTINCT s.run2d, s.plate, s.mjd, s.fib...
 1    SELECT TOP 1_x000D_\n s.instrument, s.bossSpec...
 2     SELECT TOP 10 * FROM Star WHERE ra >= 60 AND ...
 3    select top 1 objid, z, zerr, photoerrorclass f...
 4    SELECT\n    DB_NAME() AS [database_name],\n   ...
 ..                                                 ...
 245  \nSELECT COUNT(g.objID) AS galaxy_count\nFROM ...
 246  \nSELECT AVG(q.z) AS avg_redshift\nFROM SpecOb...
 247  \nSELECT COUNT(s1.objID) AS star_count\nFROM S...
 248  \nSELECT SUM(g.petromag_r) AS total_magnitude\...
 249  \nSELECT SUM(g.petromag_r) AS total_magnitude\...

                                     Equivalent_Queries Equivalent or not  \
 0    SELECT DISTINCT s.run2d, s.plate, s.mjd, s.fib...        Equivalent
 1    SELECT TOP 1\n  s.instrument, s.bossSpecObjID,...        Equivalent
 2    WITH FilteredStar AS (\nSELECT TOP 10 * FROM S...        Equivalent
 3    WITH CTE_PhotoZ AS (\n    SELECT objid, z, zer...        Equivalent
 4    SELECT\n    DB_NAME() AS [database_name],\n   ...    Not Equivalent
 ..                                                 ...               ...
 245  SELECT COUNT(g.objID) AS galaxy_count\nFROM Ga...        Equivalent
 246  SELECT AVG(q.z) AS avg_redshift\nFROM SpecObj ...        Equivalent
 247  SELECT COUNT(s1.objID) AS star_count\nFROM Spe...        Equivalent
 248  \nSELECT SUM(g.petromag_r) AS total_magnitude\...    Not Equivalent
 249  SELECT SUM(g.petromag_r) AS total_magnitude\nF...        Equivalent

             Modification_Method Original
 0                Join_Structure      YES
 1                    Join_Style      YES
 2                          CTEs      YES
 3                          CTEs      YES
 4      Aggregate_GroupBy_Change       NO
 ..                          ...      ...
 245              Join_Structure      YES
 246              Join_Structure      YES
 247              Join_Structure      YES
 248  Select_Clause_Modification       NO
 249              Join_Structure      YES

 [250 rows x 5 columns],
 'processed_data/equi_sdss_mapping.csv')

In [16]:
map_modification_method(mapping_positive_dict, mapping_negative_dict, "processed_data/equi_sqlshare.csv")

映射完成！文件已保存到: processed_data/equi_sqlshare_mapping.csv

(                                         SQL_Statement  \
 0    SELECT  SUM(cnt) FROM ( SELECT  z, COUNT(DISTI...
 1    WITH  pop AS (SELECT  [time],  [pop],  log([fs...
 2    SELECT  * max(salary),  min(salary),  avg(sala...
 3    SELECT  ROW_NUMBER() OVER (PARTITION BY TAIL_N...
 4    SELECT max(salary),  min(salary),  avg(salary)...
 ..                                                 ...
 245  SELECT  T1 ,  C1 ,  S ,  SV ,  T2 ,  case when...
 246  WITH  DEGMIN (DLAT,  DLON) AS (SELECT  CAST([L...
 247  SELECT TOP 5 *, COUNT(*) OVER () AS TotalCount...
 248  select ecp.pathway_name,  se.genus,  count(ecp...
 249  SELECT  Distinct SightDate,  Month,  Day,  [Ye...

                                     Equivalent_Queries Equivalent or not  \
 0    SELECT SUM(COUNT(DISTINCT a.follower)) AS Tota...        Equivalent
 1    SELECT *\nFROM (\n    SELECT [time], [pop], lo...        Equivalent
 2    SELECT MAX(CASE WHEN job_title LIKE '%RESEAR%S...        Equivalent
 3    SELECT ROW_NUMBER() OVER (PARTITION BY TAIL_NU...        Equivalent
 4    SELECT \n    MAX([2010 Gross Earnings]) AS max...        Equivalent
 ..                                                 ...               ...
 245  SELECT  T1 ,  C1 ,  S ,  SV ,  T2 ,T3  case wh...    Not Equivalent
 246  SELECT TOP 5\n    ROUND(CAST([LAT] AS FLOAT)/1...        Equivalent
 247  WITH FilteredData AS (\n    SELECT *\n    FROM...        Equivalent
 248  select ecp.pathway_name,  se.genus,  count(ecp...    Not Equivalent
 249  SELECT DISTINCT SightDate, Month, Day, [Year]\...        Equivalent

             Modification_Method Original
 0                Join_Structure      YES
 1           Subquery_Conditions      YES
 2                Case_Statement      YES
 3           Subquery_Conditions      YES
 4          Query_Simplification      YES
 ..                          ...      ...
 245  Select_Clause_Modification       NO
 246        Query_Simplification      YES
 247                        CTEs      YES
 248     Table_Join_Modification       NO
 249         Subquery_Conditions      YES

 [250 rows x 5 columns],
 'processed_data/equi_sqlshare_mapping.csv')